:root {
    --color-principal: #273571; /*originalmente #005f73 Aunque del logo es realmente #273571 en la parte clara y #0b1032 en la oscura*/
    --color-secundario: #fbbb04; /*aunque en el logo el gorro del pinguino es fdb60b*/
    --color-fondo: #fffee4;
    --color-texto: #212529;
    --color-acento: #e98f29; /*Originalmente ff8800*/
  }

body {
    background-color: var(--color-fondo);
    background-image: url(/media/pingufondo.png);
    background-repeat: repeat;
    background-size: 10rem;
}  

.contenido{
    padding-left: 2%;
    padding-right: 2%;
}
.navbar{
    background-color: var(--color-acento) !important;
    margin-bottom: 10px;
}

.cajaInteresante{
    background-color: var(--color-principal);
    border-radius: 1rem;
    /*margin-right: auto;
    margin-top: 10px;
    max-width: 500px;
    margin-left: 5%;
    text-align: center;*/
    color: var(--color-fondo);
}

#mejoresRateados{
    background-color: white;
}