:root {
    --color-principal: #273571; /*originalmente #005f73 Aunque del logo es realmente #273571 en la parte clara y #0b1032 en la oscura*/
    --color-secundario: #fbbb04; /*aunque en el logo el gorro del pinguino es fdb60b*/
    --color-fondo: #fffee4;
    --color-texto: #212529;
    --color-acento: #e98f29; /*Originalmente ff8800*/
  }

body {
    background-color: var(--color-fondo);
    background-image: url(/media/pingufondo.png);
    background-repeat: repeat;
    background-size: 10rem;
}  

.contenido{
    padding-left: 2%;
    padding-right: 2%;
}
.navbar{
    background-color: var(--color-acento) !important;
    margin-bottom: 10px;
}

.cajaInteresante{
    background-color: var(--color-principal);
    border-radius: 1rem;
    color: var(--color-fondo);
}

#mejoresRateados{
    background-color: white;
}

.libro{
    display:flex;
    align-items: center;
    flex-direction: column;
}


.portada{
    width: 80%;
    height: 90%;
    background-color: #d8d8cd;
    border: 3px solid var(--color-principal);
    border-radius: 10%;
    transition: ease 500ms;
}

.portada:hover{
    border: 3px solid var(--color-acento);
    filter: blur(3px);
}

/* De catalogo*/
.catalogoCaja{
    background-color: var(--color-fondo);
    margin: 5%;
    padding: 0;
}

.autorFoto{
    height: 50%;
    border-radius: 50%;
}

.autores{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5px;
}